@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-semibold;
  }
}

@layer utilities {
  .overlap-content {
    display: grid;
    grid-template-areas: 'a';
  }

  .overlap-content > * {
    grid-area: a;
  }

  .text-2xl {
  }
}
