@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-semibold;
  }
}

@layer utilities {
  .body-clamp {
    width: clamp(100px, 70%, 768px);
    margin-inline: auto;
  }

  .nav-clamp {
    width: clamp(100px, 80%, 1024px);
    margin-inline: auto;
  }
}
