:root {
  --mode: default;
  --border: hsl(280, 35%, 83%);
  --border-dark: hsl(280, 25%, 73%);
  --border-darker: hsl(280, 20%, 60%);
  --border-light: hsl(280, 30%, 80%);
  --bg: hsl(270, 0%, 100%);
  --bg-dark: hsl(270, 15%, 94%);
  --bg-darker: hsl(270, 10%, 80%);
  --bg-secondary: hsl(290, 15%, 25%);
  --bg-hover: hsl(270, 60%, 91%);
  --bg-advert: hsl(300, 80%, 85%);
  --success: hsl(268, 95%, 70%);
  --temp: hsl(265, 85%, 80%);
  --temp2: hsl(265, 75%, 60%);
  --secondary: hsl(220, 70%, 65%);
  --danger: hsl(330, 95%, 60%);
  --link: hsl(210, 96%, 55%);
  --glow: hsl(180, 60%, 75%);
  --text: hsl(0, 0%, 0%);
  --card-text: hsl(0, 0%, 0%);
  --text-secondary: hsl(280, 0%, 70%);
  --link-secondary: hsl(200, 90%, 90%);
  --link-secondary-hover: hsl(215, 35%, 80%);
  --text-light: hsl(255, 15%, 30%);
  --header: hsla(260, 60%, 25%, 0.2);
  --hover:  hsla(260, 40%, 15%, .1);
  --shadow: hsla(250, 85%, 10%, 0.25);
  --shadow-light: hsla(255, 95%, 10%, 0.1);
  --hover-inverse: hsla(280, 40%, 80%, 0.2);
  --card-white: hsl(65, 50%, 85%);
  --card-blue: hsl(235, 90%, 85%);
  --card-black: hsl(266, 100%, 85%);
  --card-red: hsl(330, 95%, 85%);
  --card-green: hsl(160, 60%, 85%);
  --card-multi: hsl(55, 85%, 85%);
  --card-colorless: hsl(32, 42%, 85%);
  --card-lands: hsl(340, 20%, 85%);
  --preview-article: hsla(265, 80%, 50%, 0.5);
  --preview-podcast:hsla(310, 85%, 65%, 0.5);
  --preview-video:  hsla(180, 60%, 70%, 0.5);
  --nav-link: hsl(265, 64%, 80%);
  --button-green: hsl(160, 60%, 50%);
  --button-red: hsl(344, 80%, 54%);
  --secondary-nav-link:hsla(210, 65% , 20%, .5);
  --secondary-nav-link-hover:hsla(190, 85% , 30%, .7);
  --dropdown-hover: hsl(280, 80%, 20%);
  --code-color: hsl(330, 70%, 54%);
  --code-bg: hsl(0, 0%, 96%);
  --read-only-disabled: hsl(20, 20%, 93%);
}