@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    @apply text-2xl;
    @apply font-semibold;
  }
}

@layer utilities {
  .clamp-body {
    width: clamp(100px, 80%, 1044ch);
    margin-inline: auto;
  }
}
