name: Deploy to Staging
on:
  workflow_run:
    workflows:
      - Build Docker Image
    branches:
      - dev
    types: complete
jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
      - name: Show tag and repo
        run: 'echo "REPOSITORY: `echo "ghcr.io/cubeartisan" | tr "[:upper:]" "[:lower:]"`" && echo "TAG: ${GITHUB_SHA:0:8}"'
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Update deployment file
        run: "TAG=${GITHUB_SHA:0:8} && sed -i 's|<TAG>|'${TAG}'|' $GITHUB_WORKSPACE/.docker/k8s/cubeartisan.template.kube.yaml && sed -i 's|<ENV>|https://cubeartisan.net/|' $GITHUB_WORKSPACE/.docker/k8s/cubeartisan.template.kube.yaml"
      - name: Save DigitalOcean kubeconfig with short-lived credentials
        # At the moment we are going to deploy directly to prod while in beta. TODO: Update this to a staging cluster.
        run: doctl kubernetes cluster kubeconfig save --expiry-seconds 600 cubeartisan
      - name: Deploy to DigitalOcean Kubernetes
        run: kubectl apply -f $GITHUB_WORKSPACE/.docker/k8s/cubeartisan.template.kube.yaml
      - name: Verify deployment
        run: kubectl rollout status deployment/cubeartisan