name: Build Docker Image
on:
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get Tag Name
        run: echo "TAG=${GITHUB_SHA:0:8}" >> $GITHUB_ENV
      - name: Get Repository Owner
        run: echo "REPOSITORY=`echo "ghcr.io/${{ github.repository_owner }}" | tr "[:upper:]" "[:lower:]"`" >> $GITHUB_ENV
      - name: Show tag and repo
        run: 'echo "REPOSITORY: $REPOSITORY" && echo "TAG: $TAG"'
      - name: Login to Docker
        run: docker login -u $GITHUB_ACTOR -p ${{ secrets.GITHUB_TOKEN }} 'ghcr.io'
      - name: Build the Docker image
        run: docker-compose -f .docker/docker-compose.yml build
      - name: Push to github package registry
        run: docker-compose -f .docker/docker-compose.yml push
      - name: Trigger deploy
        run: |
          curl \
            -X POST \
            -H 'Accept: application/vnd.github.v3+json' \
            -H 'authorization: Bearer ${{ secrets.DEPLOY_TOKEN }}' \
            -H 'content-type: application/json' \
            --data '{"event_type": "deploy_staging", "client_payload": { "repository": "'"$REPOSITORY"'", "tag": "'"$TAG"'" }}' \
            https://api.github.com/repos/CubeArtisan/cubeartisan-infrastructure/dispatches
